.family-tree-card{
    width: 100%;
    padding: 2%;
    border-radius: 0px;
    border: 0px;
    background-color: whitesmoke;
    margin-top: 20px;
    padding-bottom: 0.5%;
}

.family-tree-card:hover {
    background-color: #dddddd; 
}