#navigation-bar-container{
    width: 100%;
    background-color: #0076FF;
    height: 100%;
    color:#fffffe;
    padding-top: 16px;
}

.navigation-item-container{
    width: 100%;
    padding: 2%;
}

.navigation-item{
    padding: 10% 2%;
    background-color: #5643fd;
    margin-bottom: 10px;
}

.navigation-item:hover{
    background-color: #7649fe;
    cursor: pointer;
}

#log-out-button{
    background-color: #ba1e68;
    margin: 0 2.5%;
    width: 20%;
    position: absolute;
    bottom: 15px;
    left: 0;
}